{% extends 'user/base.html' %}
{% block content %}
{% load static %}

		<!-- START TITLE TOP -->
		<section class="section-content" style="background-image: url({% static '/user_static/img/bg/section-bg.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="section-blog-title">About us</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END TITLE TOP -->
		
		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	
	
		<!-- START ABOUT CONTENT -->	
		<section class="about_content section-padding">			
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="single_about_content">
							<h1>More details our ChildCare</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
							<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry. </p>
							<a href="about.html">Read more <i class="fa fa-arrow-right"></i></a>
						</div>
					</div><!-- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12">	
						<div class="single_about_content_img">
							<img src="{% static '/user_static/img/about-kid.jpg' %}" class="img-responsive" alt="">
						</div>
					</div><!-- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END ABOUT CONTENT -->		

		<!-- START PROMOTION -->	
		<section class="promotional_offer" style="background-image: url({% static '/user_static/img/bg/promotion-bg.jpg' %});  background-size:cover;background-position:center;background-attachment:fixed;">			
			<div class="container">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="single_offer">
							<h4>we are awesome</h4>
							<h1>Let's Make Something Great.</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
							<div class="single_offer_btn">
								<a class="get_btn" href="#">Get started <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!-- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END PROMOTION -->
		
		<!-- START ACTIVITES  -->
		<section class="our_activites">
			<div class="container">
				<div class="row">
					<div class="section-title  text-center">
						<h2>Our special Services</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-circle-o-notch"></i>
							<h4>Bus service</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-keyboard-o"></i>
							<h4>sports</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-bullhorn"></i>
							<h4>teachers</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-life-bouy"></i>
							<h4>class</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-briefcase"></i>
							<h4>food</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="about_single_activites">
							<i class="fa fa-camera-retro"></i>
							<h4>language</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
						</div>
					</div><!--END COL -->
				</div><!--END  ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END ACTIVITES-->	
		
		<!-- START TEAM -->	
		<section id="team" class="our_team section-padding">			
			<div class="container">
				<div class="row text-center">
					<div class="section-title">
						<h2>Our Teachers</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div id="team-slider" class="owl-carousel">
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->						
							<div class="single_team">
								<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
								<h4>Teacher Name</h4>
								<h5>Teacher Designation</h5>
								<div class="team-social">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div><!--- END SINGLE TEAM -->	
						</div>						
					</div><!-- END COL -->						
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END TEAM -->	

			<!-- START COURSE -->
		<section class="our-course section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our course</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>				
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div id="course-slider" class="owl-carousel">
							<div class="course-slide">
								<div class="course-img">
									<img src="{% static '/user_static/img/event/1.jpg' %}" alt="">
									<div class="course-date">
										<span class="month">$50</span>
									</div>
								</div>
								<div class="course-content">
									<h3>Course title here</h3>
									<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
									<span><i class="fa fa-clock-o"></i>7 days</span>
									<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
									<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
									<a href="#">More details <i class="fa fa-arrow-right"></i></a>
								</div>
							</div>	
							<div class="course-slide">
								<div class="course-img">
									<img src="{% static '/user_static/img/event/1.jpg' %}" alt="">
									<div class="course-date">
										<span class="month">$50</span>
									</div>
								</div>
								<div class="course-content">
									<h3>Course title here</h3>
									<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
									<span><i class="fa fa-clock-o"></i>7 days</span>
									<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
									<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
									<a href="#">More details <i class="fa fa-arrow-right"></i></a>
								</div>
							</div>	
							<div class="course-slide">
								<div class="course-img">
									<img src="{% static '/user_static/img/event/1.jpg' %}" alt="">
									<div class="course-date">
										<span class="month">$50</span>
									</div>
								</div>
								<div class="course-content">
									<h3>Course title here</h3>
									<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
									<span><i class="fa fa-clock-o"></i>7 days</span>
									<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
									<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
									<a href="#">More details <i class="fa fa-arrow-right"></i></a>
								</div>
							</div>							
						</div>
					</div><!--- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END COURSE -->
		
	{% endblock %}