{% extends 'user/base.html' %}
{% block content %}
{% load static %}
		<!-- START TITLE TOP -->
		<section class="section-content" style="background-image: url({% static '/user_static/img/bg/section-bg.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="section-blog-title">All Course</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END TITLE TOP -->
		
		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	

		<!-- START COURSE -->
		<section class="our-course our-course-mbnone section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our course</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>				
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/1.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/2.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/3.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/4.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/5.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/6.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="course-slide page-course-slide">
							<div class="course-img">
								<img src="{% static '/user_static/img/course/7.jpg' %}" alt="">
								<div class="course-date">
									<span class="month">$50</span>
								</div>
							</div>
							<div class="course-content">
								<h3><a href="single_course.html">Course title here</a></h3>
								<span><i class="fa fa-calendar"></i>10 Oct 2020</span>
								<span><i class="fa fa-clock-o"></i>7 days</span>
								<span><i class="fa fa-table"></i><strong>30 Seats Available</strong></span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry.</p>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>	
					</div><!--- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END COURSE -->

		<!-- START TESTIMONIALS  -->
		<section id="testimonial" class="our_testimonial section-padding">
			<div class="container">
				<div class="row">			
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
						<div id="testimonial-slider" class="owl-carousel">
							<div class="testimonial">
								<img src="{% static '/user_static/img/testimonial/1.jpg' %}" class="img-responsive" alt="image">
								<h3>Anushka Sharma</h3>
								<span>Teacher</span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
							</div><!-- SINGLE TESTIMONIAL  -->
							<div class="testimonial">
								<img src="{% static '/user_static/img/testimonial/2.jpg' %}" class="img-responsive" alt="image">
								<h3>Syed Ekram</h3>
								<span>Teacher</span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
							</div><!-- SINGLE TESTIMONIAL  -->
							<div class="testimonial">
								<img src="{% static '/user_static/img/testimonial/3.jpg' %}" class="img-responsive" alt="image">
								<h3>Poriniti chopra</h3>
								<span>Teacher</span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
							</div><!-- SINGLE TESTIMONIAL  -->
							<div class="testimonial">
								<img src="{% static '/user_static/img/testimonial/4.jpg' %}" class="img-responsive" alt="image">
								<h3>Masum billah</h3>
								<span>Teacher</span>
								<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever.Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
							</div><!-- SINGLE TESTIMONIAL  -->
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</section>
		<!-- END TESTIMONIALS -->
		
		{% endblock %}