{% extends 'user/base.html' %}
{% block content %}
{% load static %}

		<!-- START TITLE TOP -->
		<section class="section-content" style="background-image: url({% static '/user_static/img/bg/section-bg.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="section-blog-title">All Events</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END TITLE TOP -->
		
		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	

		<!-- START EVENT -->
		<section class="our-event our-event-mbnone section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our events</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>				
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/1.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/2.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/3.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/4.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/5.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/6.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="event-slide event-slide-page">
							<div class="event-img">
								<img src="{% static '/user_static/img/event/7.jpg' %}" alt="">
								<div class="event-date">
									<span class="date">30</span>
									<span class="month">Sep</span>
								</div>
							</div>
							<div class="event-content">
								<h3>Event title here</h3>
								<span><i class="fa fa-clock-o"></i> 10.00 AM at playstone school</span>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
								<a href="single_event.html">Register Now <i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div><!--- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END EVENT -->


		<!-- START PRICING  -->
		<section id="pricing" class="our_pricing section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our Pricing</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>				
					<div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pricing-area-1">
                            <div class="title-area-1">
                                <div class="title-1">
                                    <h2>Basic</h2>
                                </div>
                                <div class="price-1">
                                    <h1>$19</h1>
                                </div>
                            </div>
                            <div class="price-body-1">
                                <ul>
                                    <li>Unlimited Members</li>
                                    <li>10 GB Ultra Fast Brandwidth</li>
                                    <li>10 Email Accounts</li>
                                    <li>Free Supports</li>
                                    <li>50 GB Data Backup</li>
                                </ul>
                            </div>
                            <div class="price-button-1">
                                <a href="#" class="button-1">select</a>
                            </div>
                        </div>
                    </div><!-- END COL  -->
                   <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pricing-area-1">
                            <div class="title-area-1">
                                <div class="p-shape-2">
                                    <span>Best</span>
                                </div>
                                <div class="title-1">
                                    <h2>Standard</h2>
                                </div>
                                <div class="price-1">
                                    <h1>$29</h1>
                                </div>
                            </div>
                            <div class="price-body-1">
                                <ul>
                                    <li>Unlimited Members</li>
                                    <li>10 GB Ultra Fast Brandwidth</li>
                                    <li>10 Email Accounts</li>
                                    <li>Free Supports</li>
                                    <li>50 GB Data Backup</li>
                                </ul>
                            </div>
                            <div class="price-button-1">
                                <a href="#" class="button-1">select</a>
                            </div>
                        </div>
                    </div><!-- END COL  -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="pricing-area-1">
                            <div class="title-area-1">
                                <div class="title-1">
                                    <h2>Advance</h2>
                                </div>
                                <div class="price-1">
                                    <h1>$49</h1>
                                </div>
                            </div>
                            <div class="price-body-1">
                                <ul>
                                    <li>Unlimited Members</li>
                                    <li>10 GB Ultra Fast Brandwidth</li>
                                    <li>10 Email Accounts</li>
                                    <li>Free Supports</li>
                                    <li>50 GB Data Backup</li>
                                </ul>
                            </div>
                            <div class="price-button-1">
                                <a href="#" class="button-1">select</a>
                            </div>
                        </div>
                    </div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</section>
		<!-- END PRICING -->
		
	{% endblock %}