{% extends 'user/base.html' %}
{% block content %}
{% load static %}

		<!-- START TITLE TOP -->
		<section class="section-content" style="background-image: url({% static '/user_static/img/bg/section-bg.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="section-blog-title">Our Photo gallery</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END TITLE TOP -->
		
		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	

		<!-- START PORTFOLIO -->
		<section id="portfolio" class="template_portfolio template_portfolio_mbnone section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our Gallery</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>						
					<ul class="portfolio-filters text-center">
						<li class="filter active" data-filter="all">all</li>
						<li class="filter" data-filter="sports">sports</li>
						<li class="filter" data-filter="class">class</li>
						<li class="filter" data-filter="video">video</li>
						<li class="filter" data-filter="painting">Painting</li>
					</ul>
					<!-- END PORTFOLIO FILTER-->
					<div class="grid">
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/1.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/1.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix video">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/2.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/2.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/3.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/3.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix video painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/4.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/4.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix  sports">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/5.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/5.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/6.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/6.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix sports video">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/7.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/7.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/8.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/8.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-4 col-sm-4 mix class painting">
							   <div class="image-wrapper">
									<img src="{% static '/user_static/img/portfolio/9.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static '/user_static/img/portfolio/9.jpg' %}" class="image-popup"><i class="fa fa-picture-o"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
					 </div><!--/.grid-->		
				</div><!--- END ROW -->				
			</div><!--- END CONTAINER -->
		</section>
		<!-- START PORTFOLIO -->
		
		<!-- START COUNDOWN --> 
		<section class="counter_feature section-padding" style="background-image: url({% static '/user_static/img/bg/counter-bg.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer"> 25</h2> 
							</div> 
							<p>Teacher & stuff</p>
						 </div>
					</div> <!--- END COL -->   
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer">325</h2>
							</div> 							
							<p>Students</p>
						</div>
					</div><!--- END COL -->   
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer"> 325</h2>	
							</div> 					
							<p>Parents</p>
						 </div>
					</div> <!--- END COL --> 
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="counter">
							<div class="single_counter">
								<h2 class="timer">13</h2> 
							</div> 		
							<p>Classes</p>
						 </div>
					</div> <!--- END COL -->                
			  </div><!--- END ROW -->
		   </div><!--- END CONTAINER -->
		</section>
		<!-- END COUNDOWN -->
		
	{% endblock %}