<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    


    <script>
        var firebaseConfig = {
            
                apiKey: "AIzaSyDcG_ukI-FT0lF5koeaUe-iWpqQMEn3Wws",
                authDomain: "school-management-system-220d4.firebaseapp.com",
                databaseURL: "https://school-management-system-52893-default-rtdb.firebaseio.com",
                projectId: "school-management-system-220d4",
                storageBucket: "school-management-system-220d4.appspot.com",
                messagingSenderId: "444044530930",
                appId: "1:444044530930:web:71b1da64cc154a9caaac6b",
                measurementId: "G-E0FD55PQCE"
            };

        // Initialize Firebase
        // const app = initializeApp(firebaseConfig);
        // const analytics = getAnalytics(app);
        firebase.initializeApp(firebaseConfig);
        // firebase.analytics();


        const messaging = firebase.messaging();
        
        console.log(messaging.getToken())
        messaging.getToken({ 
            
            vapidKey: 'AAAAZ2Md1PI:APA91bHK1w388Eu2uV0P7vriPCONcAmTAw-Set84YFDn7gUPCvEInWXGJuxCKTSOMGL_aA20wxyScd7x7L8WxteEqQPeV98mWHRdCg2LQjMFrCfpusGUwSuv8GqkpRCkfQ6KgqTMP4Hd' }).then((currentToken) => {
            if (currentToken) {

                console.log(currentToken)
            } else {
                console.log('No registration token available. Request permission to generate one.');

            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
        });


        messaging
            .requestPermission()
            .then(function () {
                console.log("Notification permission granted.");
                return messaging.getToken()
            })
            .catch(function (err) {
                console.log("Unable to get permission to notify.", err);
            });


        messaging.onMessage((payload) => {
            console.log('Message received. ', payload);

            
        });
     

    </script>



</head>

<body>

</body>

</html>