{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<section class="shop-page">
<div class="step-content">
    <div class="container">
        <div class="step-tab-panel active" id="steppanel1">
            <ul class="nav nav-tabs">
                <li class="nav-item"> <a class="nav-link fw-600 active" data-toggle="tab" href="#general_info">General
                        Information</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="general_info">
                    <form class="needs-validation general-sec p-2 " novalidate="false" action="" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                       
                        <h3 class="text-light-black fw-700"> Update General Information</h3>
                        <div class="row ">
                            <div class="form-row">
                                <div class="form-group ">
                                    <!-- {{ form|crispy }} -->
                                
                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.image|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.country|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.state|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.mobile|as_crispy_field }}
                                    </div>

                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.city|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.gender|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.address|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ profile_form.pincode|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">

                                    </div>
                                  
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0 ">
                                <button class="btn btn-cr-bg" type="submit" name="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}