{% extends 'user/base.html' %}
{% block content %}
{% load static %}

<!-- <section class="promotion section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="single_promo">
					<marquee direction="right" scrollamount="20">
						<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
					</marquee>					
				</div>
			</div>
		</div>
		
</section> -->
<!-- <div class="container">
	<div class="btn-group">
		<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
			Choose Publisher
		</button>
		<div class="dropdown-menu">
	
			<li><a href="{% url 'product:shopview' %}">All Publishers</a></li>
	
			{% for pub in publishers %}
			<li><a href="{% url 'product:shopview' %}?publishers={{pub.id}}">{{pub.publisher_name}}</a>
			</li>
			{% endfor %}
	
		</div>
	</div>
</div> -->

<section class="shop-page">
	<div class="container">
		{% if books %}
		{% for book in books %}
		<div class="col-lg-3">
			<div class="single_product">
				<div class="product_image">
					<img src="{{book.book_image.url}}" alt="">
					<div class="new_badge">New</div>
					<div class="box-content">
						<a href="#"><i class="fa fa-heart-o"></i></a>

						<a
							href="{% if not user.is_authenticated %}{% url 'index' %} {% else %}{% url 'order:addtocart' pk=book.id %}{% endif %}"><i
								class="fa fa-cart-plus"></i></a>
						<!-- onclick="card_exist({{ book.id }}) -->
						<a href="#"><i class="fa fa-search"></i></a>
					</div>
				</div>
				<div class="product_btm_text">
					<h4><a href="#">{{book.book_name}}</a></h4>
					<div>
						<span>{{book.publisher_name}}</span>

					</div>
					<span class="price">{{book.book_price}}</span>
				</div>
			</div>
		</div>
		
		{% endfor %}
		{% else %}
		<div class="col-md-12 ftco-animate">
			<div class="text-center">
				<span class="icon-remove_shopping_cart" style="font-size: 5rem"></span>
				<i class="fa fa-shopping-cart fa-5x"></i>
				<h2 class="mt-3">Your Product is empty!!</h2>
			</div>
		</div>
		{% endif %}
	</div>
</section>
{% endblock %}

