{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <script type="text/javascript">

        function printpage() {
            window.print();
        }

    </script>
</head>
<!-- onload="printpage()" this is used for automatically load print page  -->

<body>
    
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <section class="shop-page">
    

        <div class="step-content">
            <div class="container">
                <div class="step-tab-panel active" id="steppanel1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"> <a class="nav-link fw-600 active" data-toggle="tab"
                                href="#general_info">General
                                Information</a></li>

                        <li class="nav-item"> <a class="nav-link fw-600" data-toggle="tab" href="#security_info">Change
                                password</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link fw-600" data-toggle="tab"
                                href="#settings_info">Settings</a>
                        </li>


                        <li class="nav navbar-nav navbar-right"><a href="#" onclick="window.print();"><i
                                    class="fas fa-print"></i></a></li>
                        {% for stu in profile %}
                        <li class="nav navbar-nav navbar-right"><a href="{% url 'student:student-pdf-view' stu.pk %}"><i
                                    class="fas fa-download"></i></a></li>
                        {% endfor %}
                        <li class="nav navbar-nav navbar-right"><a href="{% url 'student:profile_update' %}"><i
                                    class="far fa-edit"></i></a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="general_info">

                            <form class="needs-validation general-sec p-2 " novalidate="false" action="" method=""
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <h3 class="text-light-black ">General Information </h3>

                                <hr>
                                <div class="row">
                                    <div class="col-lg-3 my-5">
                                        <img src="{% if user.student.prof_image %}{{ user.student.prof_image.url }}{% else %}{% static 'user_static/default.png' %} {% endif %}"
                                            class="rounded float-right" height="200px" width="200px">
                                    </div>

                                    {% for stu in profile %}
                                    <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
                                        <div class="card-body">
                                            <h2>{{user.first_name}} {{user.username}}</h2>
                                            <p><strong>Email :- </strong><u> {{user.email}}</u> </p>
                        
                                            <p><strong>Father Name :- </strong> <u>{{stu.father_name}} </u></p>
                                            <p><strong>Mother Name :- </strong> <u>{{stu.mother_name}}</u> </p>
                                            <p><strong>Father occupation :- </strong> <u>{{stu.father_occupation}}</u> </p>
                                            <p><strong>Blood Group :- </strong><u>{{stu.blood_group}}</u>  </p>
                                            <p><strong>Religion :- </strong><u>{{stu.religion}}</u>  </p>
                                            <p><strong>Class :- </strong> <u>{{stu.classe}} </u></p>
                                            <p><strong>Section :- </strong><u>{{stu.section}}</u>  </p>
                                            <p><strong>DOB :- </strong><u>{{stu.dob}} </u> </p>
                                            <p><strong>Role :- </strong><u>{{stu.role}}</u>  </p>


                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-lg-3 my-5"></div>
                                    {% for stu in profile %}
                                    <div>
                                        <div class="card-body">
                                            <h2>Contact Details</h2>
                                            <p><strong>Mobile :- </strong><u>{{stu.mobile}}</u>  </p>
                                            <p><strong>Gender :- </strong> <u>{{stu.gender}}</u> </p>
                                            <p><strong>Address :- </strong><u>{{stu.address}}</u>  </p>
                                            <p><strong>Country :- </strong> <u>{{stu.country}}</u> </p>
                                            <p><strong>State :- </strong><u> {{stu.state}} </u></p>
                                            <p><strong>City :- </strong> <u>{{stu.city}}</u> </p>
                                            <p><strong>Pincode :- </strong><u>{{stu.pincode}}</u> </p>

                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>


                            </form>
                        </div>

                        <div class="tab-pane" id="security_info">
                            <form class=" needs-validation contact-sec p-2" novalidate="false"
                                action="{% url 'student:password_change' %}" method="POST"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% endif %}
                                <h3 class="text-light-black fw-700">Change password</h3>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="id_old_password">Old Password</label>
                                        <input type="password" name="old_password" autocomplete="new-password"
                                            class="form-control" required id="id_old_password"
                                            placeholder="Enter Old Password" />
                                        <span>
                                        </span>
                                    </div>
                                    <div class="form-group ">
                                        <label for="id_new_password1">New Password</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                            class="form-control" required id="id_new_password1"
                                            placeholder="Enter New Password" />
                                        <span>
                                        </span>
                                    </div>
                                    <div class="form-group ">
                                        <label for="id_new_password2">New Password Confirmation</label>
                                        <input type="password" name="new_password2" autocomplete="new-password" required
                                            id="id_new_password2" class="form-control"
                                            placeholder="Confirm New Password" />
                                    </div>
                                    <div class="form-group ">
                                        <button class="btn btn-cr-bg" type="submit" name="submit">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="settings_info">
                            <div class="col-md-6">
                            <form class=" needs-validation setting-sec p-2" novalidate="false"
                                action="{% url 'student:user_account' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                        {% endfor %}

                                    </div>
                                </div>
                                {% endif %}
                                <h3 class="text-light-black fw-700">Account Deactivate</h3>

                             

                                {{ deactivate_form.as_p}}
                                <button class="btn btn-primary" type="submit" name="action">confirm</button>

                            </form>
                            </div>
                            <div class="col-md-6">
                            <form class=" needs-validation setting-sec p-2" novalidate="false"
                            action="{% url 'student:user_delete' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                    {% endfor %}
    
                                </div>
                            </div>
                            {% endif %}
                            <h3 class="text-light-black fw-700">Account Delete</h3>
    
              
    
                            {{ account_delete_form.as_p}}
                            <button class="btn btn-primary" type="submit" name="action">Delete</button>
    
                        </form>
                            </div>
                        </div>
                     
                      
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

</body>

</html>

{% endblock %}