{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

		<!-- START TITLE TOP -->
		<section class="section-content" style="background-image: url('{% static '/user_static/img/bg/section-bg.jpg' %}'); " background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 class="section-blog-title">Our Teacher</h1>
					</div>
				</div>
			</div>
		</section>
		<!-- END TITLE TOP -->
		
		<!-- START PROMOTION -->	
		<section class="promotion section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="single_promo">
							<h1>Welcome to <strong>ChildCare</strong> kindergarten School</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PROMOTION -->	

		<!-- START TEAM -->	
		<section class="our_team our_team_mbnone section-padding">			
			<div class="container">
				<div class="row text-center">
					<div class="section-title">
						<h2>Our Teachers style One</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="single_team single_team_page">
							<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->						
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END TEAM -->
		
		<!-- START TEAM -->	
		<section class="our_team_st section-padding">			
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our Teachers style two</h2>
						<span></span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher1.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher2.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher3.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single_team_st">
							<div class="single_team_st_img">
								<img src="{% static '/user_static/img/team/teacher4.png' %}" alt="">
							</div>
							<h4>Teacher Name</h4>
							<h5>Teacher Designation</h5>
							<div class="team-social-st">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--- END SINGLE TEAM -->											
					</div><!-- END COL -->	
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->			
		</section>
		<!-- END TEAM -->

{% endblock %}