{% extends 'admin_temp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
    .field input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #222;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    .field {
        position: relative;
        height: 50px;
        width: 100%;
        display: flex;
        background: rgba(255, 255, 255, 0.94);
    }

    .field span {
        color: #222;
        width: 40px;
        line-height: 45px;
    }

    .field input {
        height: 100%;
        width: 100%;
        border: none;

        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    .space {
        margin-top: 16px;
    }


    .pass-key:valid~.show {
        display: block;
    }

    .pass {
        text-align: left;
        margin: 10px 0;
    }

    .pass a {
        color: white;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    .pass:hover a {
        text-decoration: underline;
    }

    .field input[type="submit"] {
        background: #3498db;
        border: 1px solid #2691d9;
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }

    .field input[type="submit"]:hover {
        background: #2691d9;
    }

    .login {
        color: white;
        margin: 20px 0;
        font-family: 'Poppins', sans-serif;
    }

    .links {
        display: flex;
        cursor: pointer;
        color: white;
        margin: 0 0 20px 0;
    }



    i span {
        margin-left: 8px;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    .signup {
        font-size: 15px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .signup a {
        color: #3498db;
        text-decoration: none;
    }

    .signup a:hover {
        text-decoration: underline;
    }
</style>


    <div class="dashboard-content-one">
        <div class="breadcrumbs-area">
            <h3>Books</h3>
            <ul>
                <li>
                    <a href="{% url 'home:home' %}">Home</a>
                </li>
                <li>All Teachers</li>
            </ul>
        </div>
    
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Books List</h3>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="myStaticDatatable" width="100%" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>Image</th>
                                <th>First.Name</th>
                                <th>Last.Name</th>
                                <th>E.mail</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>DOB</th>
                                <th>Blood.Group</th>
                                <th>Religion</th>
                                <th>Phone</th>
                                <th>Gender</th>
                               
                                <th>Address</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Pincode</th>
                                <th>Update</th>
                                <th>Delete</th>

                            </tr>

                        </thead>
                        <tbody>
                            {% for teach in teachers %}
                                <tr>
                                    <td>
                                        {{user.id}}
                                    </td>
                                   
                                    <td class="text-center"><img src="{{teach.image.url}}"  class="rounded-circle" height="150px" width="80px" alt="teacher"></td>
                              
                                     <!-- <td class="text-center"><img src="{% if user.teach.image %}{{teach.image.url}} {% else %} {% static 'user_static/img/defo.png' %} {% endif %}"  class="rounded-circle" height="150px" width="80px" alt="teacher"></td> -->
                                    <td>{{teach.first_name}}</td>
                                    <td>{{teach.last_name}}</td>
                                    <td>{{teach.user.email}}</td>
                                    <td>{{teach.classe}}</td>
                                    <td>{{teach.section}}</td>
                                    <td>{{teach.dob|date:"SHORT_DATETIME_FORMAT"}}</td>
                                    <td>{{teach.blood_group}} </td>
                                    <td> {{teach.religion}}</td>
                                    <td>{{teach.mobile}}</td>
                                    <td>{{teach.gender}}</td>
                                    <td>{{teach.address}}</td>
                                    <td>{{teach.country}}</td>
                                    <td>{{teach.state}}</td>
                                    <td>{{teach.city}}</td>
                                    <td>{{teach.pincode}}</td>

                                    <td>
                                        <a href="#" >
                                            <span class="fas fa-edit mr-2"></span>Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a class="dropdown-item text-danger delete_item" href="#"
                                            onclick="teacher_delete({{ teach.id }})">
                                            <span class="fas fa-trash-alt mr-2"></span>Remove
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        <button type="button" class="btn-fill-lg bg-blue-dark" data-toggle="modal"
                        data-target="#imageModal" data-whatever="@mdo">Add Teacher <span
                            class="glyphicon glyphicon-plus"></span></button>
                    <br><br>
                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                        aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Add New Teacher</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" method="POST" class="new-added-form">
                                        {% if teacher_form.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div id="signup_form_errors">
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {% for key, value in teacher_form.errors.items %}
                                                <strong>{{ value }}</strong>
                                                {% endfor %}

                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="register">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <h4>{{teacher_form.username.label}}</h4>
                                                <div class="field">
                                                    <span class="fa fa-user"></span>
                                                    {{ teacher_form.username }}
                                                </div>
                                                <h4>{{teacher_form.email.label}}</h4>
                                                <div class="field">
                                                    <span class="fa fa-envelope"></span>
                                                    {{ teacher_form.email }}
                                                </div>
                                                <h4>{{teacher_form.password1.label}}</h4>
                                                <div class="field space">
                                                    <span class="fa fa-lock"></span>
                                                    {{ teacher_form.password1 }}
                                                </div>
                                                <h4>{{teacher_form.password2.label}}</h4>
                                                <div class="field space">
                                                    <span class="fa fa-lock"></span>
                                                    {{ teacher_form.password2 }}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>

                                            <button type="submit" class="btn btn-primary">Add Teacher</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                        
                        </div>
                    </table>
                    <!-- {% for pro in product_data %} -->
                    <div class="modal fade" id="updateproductModal" tabindex="-1" role="dialog"
                    aria-labelledby="updateproductModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateproductModalModalLabel">Update ({{ book.book_name }})</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <form enctype="multipart/form-data"
                                    action="" method="post"
                                    class="modal-content edit_product_form">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Close</button>
    
                                        <button type="submit"  class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- {% endfor %} -->
                </div>
            </div>
        </div>
    </div>    
    <!-- <script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script> -->


    <!-- <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script> 

  <script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2012",
        // You can put more options here.
  
      });
    });
    </script> -->
    {% endblock %}