{% extends 'admin_temp/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load static %}
{% block content %}

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>BOOK CARD</h3>
        <ul>
            <li>
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li>All Card List</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Card Data</h3>
                </div>
            </div>
            <div class="table-responsive">
                {% if object_list %}
                <table class="table table-striped" id="myStaticDatatable">
                    <thead>
                        <tr>
                            <th>
                                S.No
                            </th>
                            <th>
                                User.ID
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Book.Image
                            </th>
                            <th>
                                Book.Name
                            </th>
                            <th>
                                Book.price
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Cart in object_list %}
                        <tr>
                            <td>
                                {{Cart.id}}
                            </td>
                            <td>
                                {{Cart.user.id}}
                            </td>
                            <td>
                                {{Cart.user.username}}
                            </td>
                            <td class="py-1">
                                <img src="{{Cart.book.book_image.url}}" height="15px" width="35px" alt="image" />
                            </td>
                            <td>
                                {{Cart.book.book_name}}
                            </td>

                            <td>
                                {{Cart.book.book_price}}
                            </td>
                            <td>
                                {{Cart.date}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>
                    <h4 class="text-center">Your card list data is empty </h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}