{% extends 'admin_temp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Images</h3>
        <ul>
            <li>
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li>All Image List</li>
        </ul>
    </div>

    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Images List</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table id="myStaticDatatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                S.NO
                            </th>

                            <th>
                                Username
                            </th>

                            <th>
                                Image.Name
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Created_at
                            </th>
                            <th>
                                Updated_at
                            </th>
                            <th>
                                Update
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in images %}
                        <tr>
                            <td>
                                {{image.id}}
                            </td>
                            <td>
                                {{image.user.username}}
                            </td>

                            <td>
                                {{image.name}}
                            </td>
                            <td class="py-1">

                                <img src="{{image.school_image.url}}" height="150px" width="80px" alt="">
                            </td>
                            <td>
                                {{image.created_at}}
                            </td>
                            <td>
                                {{image.updated_at}}
                            </td>
                            <td>
                                <!-- <a href="{% url 'home:image_update' image.id %}" data-toggle="modal" data-target="#updateimageModal"
                                data-whatever="@mdo">
                                    <span class="fas fa-edit mr-2"></span>Edit
                                </a> -->
                                <a href="{% url 'home:image_update' image.id %}" data-toggle="modal"
                                    data-target="#updateimageModal" data-whatever="@mdo">
                                    <span class="fas fa-edit mr-2"></span>Edit
                                </a>
                            </td>
                            <td>
                                <a class="dropdown-item text-danger delete_item" href="#"
                                    onclick="cultural_image_delete({{ image.id }})">
                                    <span class="fas fa-trash-alt mr-2"></span>Remove
                                </a>
                            </td>
                        </tr>

                        <div class="modal fade" id="updateimageModal" tabindex="-1" role="dialog"
                            aria-labelledby="updateimageModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateimageModal">Update Image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="" method="POST"
                                            class="new-added-form">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {{ image_form.name }}

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>

                                                <button type="submit" class="btn btn-primary">Update Image</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </tbody>
                    <button type="button" class="btn-fill-lg bg-blue-dark" data-toggle="modal" data-target="#imageModal"
                        data-whatever="@mdo">Add Image <span class="glyphicon glyphicon-plus"></span></button>
                    <br><br>
                    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                        aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel">Add New Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" method="POST" class="new-added-form">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>

                                            <button type="submit" class="btn btn-primary">Add Image</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}