{% load crispy_forms_tags %}
<style>
    body {
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
        background-attachment: fixed;
    }

    .form-gap {
        padding-top: 70px;
    }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div style="background-color:#fcc8b8" class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Reset Your Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">

                            <form method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="signup_form_errors">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group ">
                                    <label>New Password</label>
                                    <input type="password" name="new_password1" autocomplete="new-password"
                                        class="form-control" required id="id_new_password1"
                                        placeholder="Enter New Password" />
                                    <span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label>New Password Confirmation</label>
                                    <input type="password" name="new_password2" autocomplete="new-password" required
                                        id="id_new_password2" class="form-control" placeholder="Confirm New Password" />
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                        value="Change Password" type="submit">
                                </div>
                                <div class="signup">
                                    Already't have account?
                                    <a href="{% url 'home:admin_login' %}">Login Now</a>
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function () {


    });
</script>

{% block scripts %}
{% endblock %}