{% extends 'admin_temp/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load widget_tweaks %}
{% load static %}
{% block content %}

{% block javascript %}
  <script src="{% static '/admin_static/js/product_create.js' %}"></script>
{% endblock %}

<!-- Sidebar Area End Here -->
<div class="dashboard-content-one">
    <div class="breadcrumbs-area">
        <h3>Product</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Product Add Form</li>
        </ul>
    </div>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add New Product</h3>
                </div>
              
            </div>
            <form enctype="multipart/form-data" method="post" class="new-added-form">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                  
                    <div class="col-12 form-group mg-t-8">
                        <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add</button>
                        <a href="{% url 'products:product_list' %}" type="reset"
                            class="btn-fill-lg bg-blue-dark btn-hover-yellow">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div> 


{% endblock %}
