{% extends 'admin_temp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
    img {
        border-radius: 50% 50% 50% 50%;
        width: 50px;
        height: 50px;
    }
</style>

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>STUDENTS</h3>
        <ul>
            <li>
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li>All Students</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Students Data</h3>
                </div>

            </div>


            <div class="table-responsive">
                {% if object_list %}
                <table class="table table-striped" id="myStaticDatatable">
                    <thead>
                        <tr>
                            <th>
                              S.No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Father.Name
                            </th>
                            <th>
                                Mother.Name
                            </th>

                            <th>
                                Father.occupation
                            </th>
                            <th>
                                Blood.Group
                            </th>

                            <th>
                                Religion
                            </th>
                            <th>
                                class
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                DOB
                            </th>
                            <th>
                                Mobile
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Pincode
                            </th>
                            <th>
                                Last.Login
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in object_list %}
                        <tr>
                            <td>
                                {{student.user_id}}
                            </td>
                            <td>
                                <img src="{% if student.prof_image %}{{ student.prof_image.url }}{% else %}{% static 'user_static/default.png' %} {% endif %}"
                                class="avatar img-circle img-thumbnail"  alt="avatar">
                              
            
                                
                            </td>
                            <td>
                                {{student.user.username}}
                            </td>

                            <td>
                                {{student.user.email}}
                            </td>
                            <td>
                                {{student.father_name}}
                            </td>
                            <td>
                                {{student.mother_name}}
                            </td>

                            <td>
                                {{student.father_occupation}}
                            </td>
                            <td>
                                {{student.blood_group}}
                            </td>
                            <td>
                                {{student.religion}}
                            </td>
                            <td>
                                {{student.classe}}
                            </td>
                            <td>
                                {{student.section}}
                            </td>
                            <td>
                                {{student.dob}}
                            </td>
                            <td>
                                {{student.mobile}}
                            </td>
                            <td>
                                {{student.gender}}
                            </td>
                            <td>
                                {{student.country}}
                            </td>
                            <td>
                                {{student.state}}
                            </td>
                            <td>
                                {{student.city}}
                            </td>
                            <td>
                                {{student.address}}
                            </td>
                            <td>
                                {{student.pincode}}
                            </td>
                            <td>
                                {{student.user.last_login}}
                            </td>
                            <td>
                                {{student.user.is_active}}
                            </td>
                            <td>
                                <div>
                                    <a href="" class="fa fa-eye"
                                        style="font-size:20px"></i> </a>
                                </div>
                            </td>
                            <!-- <td>
                                <a class="dropdown-item text-danger delete_item"
                                    href="">
                                    <span class="fas fa-trash-alt mr-2"></span>Remove
                                </a>
                            </td> -->
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <div>
                    <h4 class="text-center">Your Student list data  is empty </h4>
                </div>
            
            {% endif %}
            </div>

        </div>
    </div>
</div>



{% endblock %}