<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_teacher %}
    <form class=" needs-validation setting-sec p-2" novalidate="false" action="{% url 'teachers:teaher_profile' %}" method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
 
                {{ deactivate_form.deactivate}}
                <button class="btn btn-primary" type="submit" name="action">confirm</button>
           
         
        </div>
    </div>
</form>
{% endif %}


{% if user.is_principal %}
<form class=" needs-validation setting-sec p-2" novalidate="false" action="{% url 'principals:principal_profile' %}" method="POST"
enctype="multipart/form-data">
{% csrf_token %}

            {{ deactivate_form.deactivate}}
            <button class="btn btn-primary" type="submit" name="action">confirm</button>
       
     
    </div>
</div>
</form>
{% endif %}
</body>
</html>