{% extends 'admin_temp/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load static %}
{% block content %}

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Students</h3>
        <ul>
            <li>
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li>All Video List</li>
        </ul>
    </div>
    <a href="{% url 'home:video_add' %}" class="btn-fill-lg bg-blue-dark text-center">Add Video</a>
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Video Data</h3>
                </div>

            </div>
            <div class="table-responsive">
                <table id="myStaticDatatable" class="table table-striped" border="2">
                    <thead>
                        <tr>
                            <th>
                                Video.ID
                            </th>
                            <th>
                                User.ID
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Video.Name
                            </th>
                            <th>
                                Video
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Update
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in object_list %}
                        <tr>
                            <td>
                                {{video.id}}
                            </td>
                            <td>
                                {{video.user.id}}
                            </td>
                            <td>
                                {{video.user.username}}
                            </td>

                            <td>
                                {{video.name}}
                            </td>
                            <td class="py-1">
                                <video width='300' controls autoplay>
                                    <source src='{{ MEDIA_URL }}{{ video.videofile.url }}' type='video/mp4' loop
                                        autoplay>
                                    Your browser does not support the video tag.
                                </video>
                                <!-- <img src="{{video.videofile.url}}" height="45px" width="45px" alt="video"/> -->
                            </td>
                            <td>
                                {{video.date}}
                            </td>
                            <td>
                                <a href="{% url 'home:video_update' video.id %}">
                                    <span class="fas fa-edit mr-2"></span>Edit
                                </a>
                            </td>
                            <td>
                                <a class="dropdown-item text-danger delete_item" href="#"
                                    onclick="video_delete({{ video.id }})">
                                    <span class="fas fa-trash-alt mr-2"></span>Remove
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}